<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.init</key>
	<string>A_.init.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Aacute</key>
	<string>A_acute.glif</string>
	<key>Abreve</key>
	<string>A_breve.glif</string>
	<key>Acircumflex</key>
	<string>A_circumflex.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Agrave</key>
	<string>A_grave.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>Aogonek</key>
	<string>A_ogonek.glif</string>
	<key>Aring</key>
	<string>A_ring.glif</string>
	<key>Atilde</key>
	<string>A_tilde.glif</string>
	<key>Ccaron</key>
	<string>C_caron.glif</string>
	<key>Ccedilla</key>
	<string>C_cedilla.glif</string>
	<key>Dcaron</key>
	<string>D_caron.glif</string>
	<key>Dcroat</key>
	<string>D_croat.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>E_acute.glif</string>
	<key>Ecaron</key>
	<string>E_caron.glif</string>
	<key>Ecircumflex</key>
	<string>E_circumflex.glif</string>
	<key>Edieresis</key>
	<string>E_dieresis.glif</string>
	<key>Edotaccent</key>
	<string>E_dotaccent.glif</string>
	<key>Egrave</key>
	<string>E_grave.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>Eogonek</key>
	<string>E_ogonek.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Icircumflex</key>
	<string>I_circumflex.glif</string>
	<key>Iogonek</key>
	<string>I_ogonek.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>K_commaaccent.glif</string>
	<key>Lslash</key>
	<string>L_slash.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.init</key>
	<string>M_.init.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>N.init</key>
	<string>N_.init.glif</string>
	<key>Nacute</key>
	<string>N_acute.glif</string>
	<key>Ncaron</key>
	<string>N_caron.glif</string>
	<key>Ncommaaccent</key>
	<string>N_commaaccent.glif</string>
	<key>Ntilde</key>
	<string>N_tilde.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Ocircumflex</key>
	<string>O_circumflex.glif</string>
	<key>Oslash</key>
	<string>O_slash.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Rcaron</key>
	<string>R_caron.glif</string>
	<key>Scaron</key>
	<string>S_caron.glif</string>
	<key>Scedilla</key>
	<string>S_cedilla.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tcaron</key>
	<string>T_caron.glif</string>
	<key>Tcedilla</key>
	<string>T_cedilla.glif</string>
	<key>Tcommaaccent</key>
	<string>T_commaaccent.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Ucircumflex</key>
	<string>U_circumflex.glif</string>
	<key>Uogonek</key>
	<string>U_ogonek.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Y_acute.glif</string>
	<key>Ydieresis</key>
	<string>Y_dieresis.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Z_acute.glif</string>
	<key>Zcaron</key>
	<string>Z_caron.glif</string>
	<key>Zdotaccent</key>
	<string>Z_dotaccent.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>estimated</key>
	<string>estimated.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.superior</key>
	<string>four.superior.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gjA</key>
	<string>gjA_.glif</string>
	<key>gjAA</key>
	<string>gjA_A_.glif</string>
	<key>gjAI</key>
	<string>gjA_I_.glif</string>
	<key>gjAU</key>
	<string>gjA_U_.glif</string>
	<key>gjB</key>
	<string>gjB_.glif</string>
	<key>gjBA</key>
	<string>gjB_A_.glif</string>
	<key>gjBH</key>
	<string>gjB_H_.glif</string>
	<key>gjBHA</key>
	<string>gjB_H_A_.glif</string>
	<key>gjBH_LA</key>
	<string>gjB_H__L_A_.glif</string>
	<key>gjBH_NA</key>
	<string>gjB_H__N_A_.glif</string>
	<key>gjBH_R</key>
	<string>gjB_H__R_.glif</string>
	<key>gjBH_RA</key>
	<string>gjB_H__R_A_.glif</string>
	<key>gjBH_VA</key>
	<string>gjB_H__V_A_.glif</string>
	<key>gjBH_YA</key>
	<string>gjB_H__Y_A_.glif</string>
	<key>gjB_BA</key>
	<string>gjB__B_A_.glif</string>
	<key>gjB_DA</key>
	<string>gjB__D_A_.glif</string>
	<key>gjB_DHA</key>
	<string>gjB__D_H_A_.glif</string>
	<key>gjB_DH_VA</key>
	<string>gjB__D_H__V_A_.glif</string>
	<key>gjB_JA</key>
	<string>gjB__J_A_.glif</string>
	<key>gjB_JHA</key>
	<string>gjB__J_H_A_.glif</string>
	<key>gjB_J_YA</key>
	<string>gjB__J__Y_A_.glif</string>
	<key>gjB_NA</key>
	<string>gjB__N_A_.glif</string>
	<key>gjB_R</key>
	<string>gjB__R_.glif</string>
	<key>gjB_RA</key>
	<string>gjB__R_A_.glif</string>
	<key>gjB_SA</key>
	<string>gjB__S_A_.glif</string>
	<key>gjB_SHA</key>
	<string>gjB__S_H_A_.glif</string>
	<key>gjB_YA</key>
	<string>gjB__Y_A_.glif</string>
	<key>gjC</key>
	<string>gjC_.glif</string>
	<key>gjCA</key>
	<string>gjC_A_.glif</string>
	<key>gjCH</key>
	<string>gjC_H_.glif</string>
	<key>gjCHA</key>
	<string>gjC_H_A_.glif</string>
	<key>gjCHA.alt</key>
	<string>gjC_H_A_.alt.glif</string>
	<key>gjCH_RA</key>
	<string>gjC_H__R_A_.glif</string>
	<key>gjCH_VA</key>
	<string>gjC_H__V_A_.glif</string>
	<key>gjCH_YA</key>
	<string>gjC_H__Y_A_.glif</string>
	<key>gjC_CA</key>
	<string>gjC__C_A_.glif</string>
	<key>gjC_CHA</key>
	<string>gjC__C_H_A_.glif</string>
	<key>gjC_CH_VA</key>
	<string>gjC__C_H__V_A_.glif</string>
	<key>gjC_MA</key>
	<string>gjC__M_A_.glif</string>
	<key>gjC_NA</key>
	<string>gjC__N_A_.glif</string>
	<key>gjC_R</key>
	<string>gjC__R_.glif</string>
	<key>gjC_RA</key>
	<string>gjC__R_A_.glif</string>
	<key>gjC_YA</key>
	<string>gjC__Y_A_.glif</string>
	<key>gjD</key>
	<string>gjD_.glif</string>
	<key>gjDA</key>
	<string>gjD_A_.glif</string>
	<key>gjDA_mvR</key>
	<string>gjD_A__mvR_.glif</string>
	<key>gjDDH_R</key>
	<string>gjD_D_H__R_.glif</string>
	<key>gjDDH_RA</key>
	<string>gjD_D_H__R_A_.glif</string>
	<key>gjDDH_YA</key>
	<string>gjD_D_H__Y_A_.glif</string>
	<key>gjDD_R</key>
	<string>gjD_D__R_.glif</string>
	<key>gjDD_RA</key>
	<string>gjD_D__R_A_.glif</string>
	<key>gjDD_VA</key>
	<string>gjD_D__V_A_.glif</string>
	<key>gjDD_YA</key>
	<string>gjD_D__Y_A_.glif</string>
	<key>gjDH</key>
	<string>gjD_H_.glif</string>
	<key>gjDHA</key>
	<string>gjD_H_A_.glif</string>
	<key>gjDH_MA</key>
	<string>gjD_H__M_A_.glif</string>
	<key>gjDH_NA</key>
	<string>gjD_H__N_A_.glif</string>
	<key>gjDH_N_YA</key>
	<string>gjD_H__N__Y_A_.glif</string>
	<key>gjDH_RA</key>
	<string>gjD_H__R_A_.glif</string>
	<key>gjDH_VA</key>
	<string>gjD_H__V_A_.glif</string>
	<key>gjDH_YA</key>
	<string>gjD_H__Y_A_.glif</string>
	<key>gjD_BHA</key>
	<string>gjD__B_H_A_.glif</string>
	<key>gjD_DA</key>
	<string>gjD__D_A_.glif</string>
	<key>gjD_DHA</key>
	<string>gjD__D_H_A_.glif</string>
	<key>gjD_GHA</key>
	<string>gjD__G_H_A_.glif</string>
	<key>gjD_MA</key>
	<string>gjD__M_A_.glif</string>
	<key>gjD_NA</key>
	<string>gjD__N_A_.glif</string>
	<key>gjD_R</key>
	<string>gjD__R_.glif</string>
	<key>gjD_RA</key>
	<string>gjD__R_A_.glif</string>
	<key>gjD_VA</key>
	<string>gjD__V_A_.glif</string>
	<key>gjD_YA</key>
	<string>gjD__Y_A_.glif</string>
	<key>gjE</key>
	<string>gjE_.glif</string>
	<key>gjEcandra</key>
	<string>gjE_candra.glif</string>
	<key>gjFive</key>
	<string>gjF_ive.glif</string>
	<key>gjFour</key>
	<string>gjF_our.glif</string>
	<key>gjGH</key>
	<string>gjG_H_.glif</string>
	<key>gjGHA</key>
	<string>gjG_H_A_.glif</string>
	<key>gjGH_MA</key>
	<string>gjG_H__M_A_.glif</string>
	<key>gjGH_NA</key>
	<string>gjG_H__N_A_.glif</string>
	<key>gjGH_R</key>
	<string>gjG_H__R_.glif</string>
	<key>gjGH_RA</key>
	<string>gjG_H__R_A_.glif</string>
	<key>gjGH_YA</key>
	<string>gjG_H__Y_A_.glif</string>
	<key>gjG_NA</key>
	<string>gjG__N_A_.glif</string>
	<key>gjG_R_YA</key>
	<string>gjG__R__Y_A_.glif</string>
	<key>gjH</key>
	<string>gjH_.glif</string>
	<key>gjH_MA</key>
	<string>gjH__M_A_.glif</string>
	<key>gjH_NA</key>
	<string>gjH__N_A_.glif</string>
	<key>gjH_RA</key>
	<string>gjH__R_A_.glif</string>
	<key>gjH_VA</key>
	<string>gjH__V_A_.glif</string>
	<key>gjH_YA</key>
	<string>gjH__Y_A_.glif</string>
	<key>gjI</key>
	<string>gjI_.glif</string>
	<key>gjII</key>
	<string>gjI_I_.glif</string>
	<key>gjJ</key>
	<string>gjJ_.glif</string>
	<key>gjJA</key>
	<string>gjJ_A_.glif</string>
	<key>gjJA_mAA</key>
	<string>gjJ_A__mA_A_.glif</string>
	<key>gjJA_mII</key>
	<string>gjJ_A__mI_I_.glif</string>
	<key>gjJH</key>
	<string>gjJ_H_.glif</string>
	<key>gjJHA</key>
	<string>gjJ_H_A_.glif</string>
	<key>gjJH_R</key>
	<string>gjJ_H__R_.glif</string>
	<key>gjJH_RA</key>
	<string>gjJ_H__R_A_.glif</string>
	<key>gjJ_DA</key>
	<string>gjJ__D_A_.glif</string>
	<key>gjJ_DDA</key>
	<string>gjJ__D_D_A_.glif</string>
	<key>gjJ_JA</key>
	<string>gjJ__J_A_.glif</string>
	<key>gjJ_JHA</key>
	<string>gjJ__J_H_A_.glif</string>
	<key>gjJ_J_VA</key>
	<string>gjJ__J__V_A_.glif</string>
	<key>gjJ_J_YA</key>
	<string>gjJ__J__Y_A_.glif</string>
	<key>gjJ_KA</key>
	<string>gjJ__K_A_.glif</string>
	<key>gjJ_MA</key>
	<string>gjJ__M_A_.glif</string>
	<key>gjJ_NA</key>
	<string>gjJ__N_A_.glif</string>
	<key>gjJ_NY</key>
	<string>gjJ__N_Y_.glif</string>
	<key>gjJ_NYA</key>
	<string>gjJ__N_Y_A_.glif</string>
	<key>gjJ_NY_YA</key>
	<string>gjJ__N_Y__Y_A_.glif</string>
	<key>gjJ_R</key>
	<string>gjJ__R_.glif</string>
	<key>gjJ_RA</key>
	<string>gjJ__R_A_.glif</string>
	<key>gjJ_RA_mAA</key>
	<string>gjJ__R_A__mA_A_.glif</string>
	<key>gjJ_RA_mII</key>
	<string>gjJ__R_A__mI_I_.glif</string>
	<key>gjJ_TA</key>
	<string>gjJ__T_A_.glif</string>
	<key>gjJ_TTA</key>
	<string>gjJ__T_T_A_.glif</string>
	<key>gjJ_YA</key>
	<string>gjJ__Y_A_.glif</string>
	<key>gjK</key>
	<string>gjK_.glif</string>
	<key>gjKA</key>
	<string>gjK_A_.glif</string>
	<key>gjKH</key>
	<string>gjK_H_.glif</string>
	<key>gjKHA</key>
	<string>gjK_H_A_.glif</string>
	<key>gjKH_KHA</key>
	<string>gjK_H__K_H_A_.glif</string>
	<key>gjKH_MA</key>
	<string>gjK_H__M_A_.glif</string>
	<key>gjKH_NA</key>
	<string>gjK_H__N_A_.glif</string>
	<key>gjKH_R</key>
	<string>gjK_H__R_.glif</string>
	<key>gjKH_RA</key>
	<string>gjK_H__R_A_.glif</string>
	<key>gjKH_SA</key>
	<string>gjK_H__S_A_.glif</string>
	<key>gjKH_SHA</key>
	<string>gjK_H__S_H_A_.glif</string>
	<key>gjKH_TA</key>
	<string>gjK_H__T_A_.glif</string>
	<key>gjKH_YA</key>
	<string>gjK_H__Y_A_.glif</string>
	<key>gjK_CA</key>
	<string>gjK__C_A_.glif</string>
	<key>gjK_DA</key>
	<string>gjK__D_A_.glif</string>
	<key>gjK_JA</key>
	<string>gjK__J_A_.glif</string>
	<key>gjK_KA</key>
	<string>gjK__K_A_.glif</string>
	<key>gjK_KHA</key>
	<string>gjK__K_H_A_.glif</string>
	<key>gjK_LA</key>
	<string>gjK__L_A_.glif</string>
	<key>gjK_MA</key>
	<string>gjK__M_A_.glif</string>
	<key>gjK_NA</key>
	<string>gjK__N_A_.glif</string>
	<key>gjK_NNA</key>
	<string>gjK__N_N_A_.glif</string>
	<key>gjK_PA</key>
	<string>gjK__P_A_.glif</string>
	<key>gjK_PHA</key>
	<string>gjK__P_H_A_.glif</string>
	<key>gjK_P_RA</key>
	<string>gjK__P__R_A_.glif</string>
	<key>gjK_R</key>
	<string>gjK__R_.glif</string>
	<key>gjK_RA</key>
	<string>gjK__R_A_.glif</string>
	<key>gjK_SA</key>
	<string>gjK__S_A_.glif</string>
	<key>gjK_SHA</key>
	<string>gjK__S_H_A_.glif</string>
	<key>gjK_SS</key>
	<string>gjK__S_S_.glif</string>
	<key>gjK_SSA</key>
	<string>gjK__S_S_A_.glif</string>
	<key>gjK_SS_MA</key>
	<string>gjK__S_S__M_A_.glif</string>
	<key>gjK_SS_M_YA</key>
	<string>gjK__S_S__M__Y_A_.glif</string>
	<key>gjK_SS_VA</key>
	<string>gjK__S_S__V_A_.glif</string>
	<key>gjK_SS_YA</key>
	<string>gjK__S_S__Y_A_.glif</string>
	<key>gjK_S_DDA</key>
	<string>gjK__S__D_D_A_.glif</string>
	<key>gjK_S_P_LA</key>
	<string>gjK__S__P__L_A_.glif</string>
	<key>gjK_S_P_RA</key>
	<string>gjK__S__P__R_A_.glif</string>
	<key>gjK_S_TA</key>
	<string>gjK__S__T_A_.glif</string>
	<key>gjK_S_TTA</key>
	<string>gjK__S__T_T_A_.glif</string>
	<key>gjK_TA</key>
	<string>gjK__T_A_.glif</string>
	<key>gjK_THA</key>
	<string>gjK__T_H_A_.glif</string>
	<key>gjK_TTA</key>
	<string>gjK__T_T_A_.glif</string>
	<key>gjK_T_RA</key>
	<string>gjK__T__R_A_.glif</string>
	<key>gjK_T_VA</key>
	<string>gjK__T__V_A_.glif</string>
	<key>gjK_T_YA</key>
	<string>gjK__T__Y_A_.glif</string>
	<key>gjK_VA</key>
	<string>gjK__V_A_.glif</string>
	<key>gjK_V_YA</key>
	<string>gjK__V__Y_A_.glif</string>
	<key>gjK_YA</key>
	<string>gjK__Y_A_.glif</string>
	<key>gjLL_YA</key>
	<string>gjL_L__Y_A_.glif</string>
	<key>gjL_BHA</key>
	<string>gjL__B_H_A_.glif</string>
	<key>gjL_DA</key>
	<string>gjL__D_A_.glif</string>
	<key>gjL_D_RA</key>
	<string>gjL__D__R_A_.glif</string>
	<key>gjL_JA</key>
	<string>gjL__J_A_.glif</string>
	<key>gjL_KA</key>
	<string>gjL__K_A_.glif</string>
	<key>gjL_KHA</key>
	<string>gjL__K_H_A_.glif</string>
	<key>gjL_K_YA</key>
	<string>gjL__K__Y_A_.glif</string>
	<key>gjL_L_YA</key>
	<string>gjL__L__Y_A_.glif</string>
	<key>gjL_MA</key>
	<string>gjL__M_A_.glif</string>
	<key>gjL_PA</key>
	<string>gjL__P_A_.glif</string>
	<key>gjL_PHA</key>
	<string>gjL__P_H_A_.glif</string>
	<key>gjL_SA</key>
	<string>gjL__S_A_.glif</string>
	<key>gjL_TA</key>
	<string>gjL__T_A_.glif</string>
	<key>gjL_THA</key>
	<string>gjL__T_H_A_.glif</string>
	<key>gjL_TH_YA</key>
	<string>gjL__T_H__Y_A_.glif</string>
	<key>gjL_YA</key>
	<string>gjL__Y_A_.glif</string>
	<key>gjM</key>
	<string>gjM_.glif</string>
	<key>gjMA</key>
	<string>gjM_A_.glif</string>
	<key>gjM_BA</key>
	<string>gjM__B_A_.glif</string>
	<key>gjM_BHA</key>
	<string>gjM__B_H_A_.glif</string>
	<key>gjM_B_RA</key>
	<string>gjM__B__R_A_.glif</string>
	<key>gjM_B_YA</key>
	<string>gjM__B__Y_A_.glif</string>
	<key>gjM_MA</key>
	<string>gjM__M_A_.glif</string>
	<key>gjM_NA</key>
	<string>gjM__N_A_.glif</string>
	<key>gjM_PA</key>
	<string>gjM__P_A_.glif</string>
	<key>gjM_P_RA</key>
	<string>gjM__P__R_A_.glif</string>
	<key>gjM_R</key>
	<string>gjM__R_.glif</string>
	<key>gjM_RA</key>
	<string>gjM__R_A_.glif</string>
	<key>gjM_R_MA</key>
	<string>gjM__R__M_A_.glif</string>
	<key>gjM_SA</key>
	<string>gjM__S_A_.glif</string>
	<key>gjM_SHA</key>
	<string>gjM__S_H_A_.glif</string>
	<key>gjM_VA</key>
	<string>gjM__V_A_.glif</string>
	<key>gjM_YA</key>
	<string>gjM__Y_A_.glif</string>
	<key>gjNA</key>
	<string>gjN_A_.glif</string>
	<key>gjNY</key>
	<string>gjN_Y_.glif</string>
	<key>gjNYA</key>
	<string>gjN_Y_A_.glif</string>
	<key>gjNY_JA</key>
	<string>gjN_Y__J_A_.glif</string>
	<key>gjN_BHA</key>
	<string>gjN__B_H_A_.glif</string>
	<key>gjN_BH_VA</key>
	<string>gjN__B_H__V_A_.glif</string>
	<key>gjN_CHA</key>
	<string>gjN__C_H_A_.glif</string>
	<key>gjN_DHA</key>
	<string>gjN__D_H_A_.glif</string>
	<key>gjN_DH_RA</key>
	<string>gjN__D_H__R_A_.glif</string>
	<key>gjN_DH_VA</key>
	<string>gjN__D_H__V_A_.glif</string>
	<key>gjN_DH_YA</key>
	<string>gjN__D_H__Y_A_.glif</string>
	<key>gjN_D_VA</key>
	<string>gjN__D__V_A_.glif</string>
	<key>gjN_JHA</key>
	<string>gjN__J_H_A_.glif</string>
	<key>gjN_KA</key>
	<string>gjN__K_A_.glif</string>
	<key>gjN_K_SA</key>
	<string>gjN__K__S_A_.glif</string>
	<key>gjN_MA</key>
	<string>gjN__M_A_.glif</string>
	<key>gjN_M_YA</key>
	<string>gjN__M__Y_A_.glif</string>
	<key>gjN_NA</key>
	<string>gjN__N_A_.glif</string>
	<key>gjN_N_YA</key>
	<string>gjN__N__Y_A_.glif</string>
	<key>gjN_PA</key>
	<string>gjN__P_A_.glif</string>
	<key>gjN_PHA</key>
	<string>gjN__P_H_A_.glif</string>
	<key>gjN_P_RA</key>
	<string>gjN__P__R_A_.glif</string>
	<key>gjN_RA</key>
	<string>gjN__R_A_.glif</string>
	<key>gjN_SA</key>
	<string>gjN__S_A_.glif</string>
	<key>gjN_S_M_YA</key>
	<string>gjN__S__M__Y_A_.glif</string>
	<key>gjN_S_TTA</key>
	<string>gjN__S__T_T_A_.glif</string>
	<key>gjN_S_YA</key>
	<string>gjN__S__Y_A_.glif</string>
	<key>gjN_TA</key>
	<string>gjN__T_A_.glif</string>
	<key>gjN_THA</key>
	<string>gjN__T_H_A_.glif</string>
	<key>gjN_TH_VA</key>
	<string>gjN__T_H__V_A_.glif</string>
	<key>gjN_TH_YA</key>
	<string>gjN__T_H__Y_A_.glif</string>
	<key>gjN_TTA</key>
	<string>gjN__T_T_A_.glif</string>
	<key>gjN_T_RA</key>
	<string>gjN__T__R_A_.glif</string>
	<key>gjN_T_SA</key>
	<string>gjN__T__S_A_.glif</string>
	<key>gjN_T_YA</key>
	<string>gjN__T__Y_A_.glif</string>
	<key>gjN_YA</key>
	<string>gjN__Y_A_.glif</string>
	<key>gjO</key>
	<string>gjO_.glif</string>
	<key>gjOcandra</key>
	<string>gjO_candra.glif</string>
	<key>gjOm</key>
	<string>gjO_m.glif</string>
	<key>gjOne</key>
	<string>gjO_ne.glif</string>
	<key>gjPA</key>
	<string>gjP_A_.glif</string>
	<key>gjPH</key>
	<string>gjP_H_.glif</string>
	<key>gjPHA</key>
	<string>gjP_H_A_.glif</string>
	<key>gjPH_JA</key>
	<string>gjP_H__J_A_.glif</string>
	<key>gjPH_NA</key>
	<string>gjP_H__N_A_.glif</string>
	<key>gjPH_PA</key>
	<string>gjP_H__P_A_.glif</string>
	<key>gjPH_PHA</key>
	<string>gjP_H__P_H_A_.glif</string>
	<key>gjPH_R</key>
	<string>gjP_H__R_.glif</string>
	<key>gjPH_RA</key>
	<string>gjP_H__R_A_.glif</string>
	<key>gjPH_SA</key>
	<string>gjP_H__S_A_.glif</string>
	<key>gjPH_SHA</key>
	<string>gjP_H__S_H_A_.glif</string>
	<key>gjPH_TA</key>
	<string>gjP_H__T_A_.glif</string>
	<key>gjPH_TTA</key>
	<string>gjP_H__T_T_A_.glif</string>
	<key>gjPH_YA</key>
	<string>gjP_H__Y_A_.glif</string>
	<key>gjP_MA</key>
	<string>gjP__M_A_.glif</string>
	<key>gjP_NA</key>
	<string>gjP__N_A_.glif</string>
	<key>gjP_PA</key>
	<string>gjP__P_A_.glif</string>
	<key>gjP_PHA</key>
	<string>gjP__P_H_A_.glif</string>
	<key>gjP_RA</key>
	<string>gjP__R_A_.glif</string>
	<key>gjP_TA</key>
	<string>gjP__T_A_.glif</string>
	<key>gjP_VA</key>
	<string>gjP__V_A_.glif</string>
	<key>gjP_YA</key>
	<string>gjP__Y_A_.glif</string>
	<key>gjR</key>
	<string>gjR_.glif</string>
	<key>gjRA</key>
	<string>gjR_A_.glif</string>
	<key>gjRA_mU</key>
	<string>gjR_A__mU_.glif</string>
	<key>gjRA_mUU</key>
	<string>gjR_A__mU_U_.glif</string>
	<key>gjRupeesign</key>
	<string>gjR_upeesign.glif</string>
	<key>gjS</key>
	<string>gjS_.glif</string>
	<key>gjSA</key>
	<string>gjS_A_.glif</string>
	<key>gjSA.matrau</key>
	<string>gjS_A_.matrau.glif</string>
	<key>gjSH</key>
	<string>gjS_H_.glif</string>
	<key>gjSHA</key>
	<string>gjS_H_A_.glif</string>
	<key>gjSHA.matrau</key>
	<string>gjS_H_A_.matrau.glif</string>
	<key>gjSHA_mvR</key>
	<string>gjS_H_A__mvR_.glif</string>
	<key>gjSH_CA</key>
	<string>gjS_H__C_A_.glif</string>
	<key>gjSH_NA</key>
	<string>gjS_H__N_A_.glif</string>
	<key>gjSH_RA</key>
	<string>gjS_H__R_A_.glif</string>
	<key>gjSH_VA</key>
	<string>gjS_H__V_A_.glif</string>
	<key>gjSSA</key>
	<string>gjS_S_A_.glif</string>
	<key>gjSS_KA</key>
	<string>gjS_S__K_A_.glif</string>
	<key>gjSS_K_RA</key>
	<string>gjS_S__K__R_A_.glif</string>
	<key>gjSS_MA</key>
	<string>gjS_S__M_A_.glif</string>
	<key>gjSS_M_YA</key>
	<string>gjS_S__M__Y_A_.glif</string>
	<key>gjSS_NNA</key>
	<string>gjS_S__N_N_A_.glif</string>
	<key>gjSS_NN_YA</key>
	<string>gjS_S__N_N__Y_A_.glif</string>
	<key>gjSS_PA</key>
	<string>gjS_S__P_A_.glif</string>
	<key>gjSS_PHA</key>
	<string>gjS_S__P_H_A_.glif</string>
	<key>gjSS_P_RA</key>
	<string>gjS_S__P__R_A_.glif</string>
	<key>gjSS_SSA</key>
	<string>gjS_S__S_S_A_.glif</string>
	<key>gjSS_TTA</key>
	<string>gjS_S__T_T_A_.glif</string>
	<key>gjSS_TTH_RA</key>
	<string>gjS_S__T_T_H__R_A_.glif</string>
	<key>gjSS_TTH_YA</key>
	<string>gjS_S__T_T_H__Y_A_.glif</string>
	<key>gjSS_TT_RA</key>
	<string>gjS_S__T_T__R_A_.glif</string>
	<key>gjSS_TT_VA</key>
	<string>gjS_S__T_T__V_A_.glif</string>
	<key>gjSS_TT_YA</key>
	<string>gjS_S__T_T__Y_A_.glif</string>
	<key>gjSS_VA</key>
	<string>gjS_S__V_A_.glif</string>
	<key>gjSS_YA</key>
	<string>gjS_S__Y_A_.glif</string>
	<key>gjS_DA</key>
	<string>gjS__D_A_.glif</string>
	<key>gjS_JA</key>
	<string>gjS__J_A_.glif</string>
	<key>gjS_KA</key>
	<string>gjS__K_A_.glif</string>
	<key>gjS_KHA</key>
	<string>gjS__K_H_A_.glif</string>
	<key>gjS_K_RA</key>
	<string>gjS__K__R_A_.glif</string>
	<key>gjS_K_VA</key>
	<string>gjS__K__V_A_.glif</string>
	<key>gjS_MA</key>
	<string>gjS__M_A_.glif</string>
	<key>gjS_M_YA</key>
	<string>gjS__M__Y_A_.glif</string>
	<key>gjS_NA</key>
	<string>gjS__N_A_.glif</string>
	<key>gjS_PA</key>
	<string>gjS__P_A_.glif</string>
	<key>gjS_PHA</key>
	<string>gjS__P_H_A_.glif</string>
	<key>gjS_P_RA</key>
	<string>gjS__P__R_A_.glif</string>
	<key>gjS_R</key>
	<string>gjS__R_.glif</string>
	<key>gjS_RA</key>
	<string>gjS__R_A_.glif</string>
	<key>gjS_SA</key>
	<string>gjS__S_A_.glif</string>
	<key>gjS_THA</key>
	<string>gjS__T_H_A_.glif</string>
	<key>gjS_TH_YA</key>
	<string>gjS__T_H__Y_A_.glif</string>
	<key>gjS_TTA</key>
	<string>gjS__T_T_A_.glif</string>
	<key>gjS_TT_RA</key>
	<string>gjS__T_T__R_A_.glif</string>
	<key>gjS_T_R</key>
	<string>gjS__T__R_.glif</string>
	<key>gjS_T_RA</key>
	<string>gjS__T__R_A_.glif</string>
	<key>gjS_VA</key>
	<string>gjS__V_A_.glif</string>
	<key>gjS_YA</key>
	<string>gjS__Y_A_.glif</string>
	<key>gjSeven</key>
	<string>gjS_even.glif</string>
	<key>gjSix</key>
	<string>gjS_ix.glif</string>
	<key>gjTA</key>
	<string>gjT_A_.glif</string>
	<key>gjTH</key>
	<string>gjT_H_.glif</string>
	<key>gjTHA</key>
	<string>gjT_H_A_.glif</string>
	<key>gjTH_NA</key>
	<string>gjT_H__N_A_.glif</string>
	<key>gjTH_RA</key>
	<string>gjT_H__R_A_.glif</string>
	<key>gjTH_VA</key>
	<string>gjT_H__V_A_.glif</string>
	<key>gjTH_YA</key>
	<string>gjT_H__Y_A_.glif</string>
	<key>gjTTH_R</key>
	<string>gjT_T_H__R_.glif</string>
	<key>gjTTH_RA</key>
	<string>gjT_T_H__R_A_.glif</string>
	<key>gjTTH_TTHA</key>
	<string>gjT_T_H__T_T_H_A_.glif</string>
	<key>gjTTH_YA</key>
	<string>gjT_T_H__Y_A_.glif</string>
	<key>gjTT_R</key>
	<string>gjT_T__R_.glif</string>
	<key>gjTT_RA</key>
	<string>gjT_T__R_A_.glif</string>
	<key>gjTT_TTA</key>
	<string>gjT_T__T_T_A_.glif</string>
	<key>gjTT_TTHA</key>
	<string>gjT_T__T_T_H_A_.glif</string>
	<key>gjTT_VA</key>
	<string>gjT_T__V_A_.glif</string>
	<key>gjTT_YA</key>
	<string>gjT_T__Y_A_.glif</string>
	<key>gjT_KA</key>
	<string>gjT__K_A_.glif</string>
	<key>gjT_KHA</key>
	<string>gjT__K_H_A_.glif</string>
	<key>gjT_KH_NA</key>
	<string>gjT__K_H__N_A_.glif</string>
	<key>gjT_KH_RA</key>
	<string>gjT__K_H__R_A_.glif</string>
	<key>gjT_K_RA</key>
	<string>gjT__K__R_A_.glif</string>
	<key>gjT_K_SSA</key>
	<string>gjT__K__S_S_A_.glif</string>
	<key>gjT_K_VA</key>
	<string>gjT__K__V_A_.glif</string>
	<key>gjT_K_YA</key>
	<string>gjT__K__Y_A_.glif</string>
	<key>gjT_LA</key>
	<string>gjT__L_A_.glif</string>
	<key>gjT_MA</key>
	<string>gjT__M_A_.glif</string>
	<key>gjT_M_YA</key>
	<string>gjT__M__Y_A_.glif</string>
	<key>gjT_NA</key>
	<string>gjT__N_A_.glif</string>
	<key>gjT_N_YA</key>
	<string>gjT__N__Y_A_.glif</string>
	<key>gjT_PA</key>
	<string>gjT__P_A_.glif</string>
	<key>gjT_PHA</key>
	<string>gjT__P_H_A_.glif</string>
	<key>gjT_P_LA</key>
	<string>gjT__P__L_A_.glif</string>
	<key>gjT_P_RA</key>
	<string>gjT__P__R_A_.glif</string>
	<key>gjT_RA</key>
	<string>gjT__R_A_.glif</string>
	<key>gjT_R_YA</key>
	<string>gjT__R__Y_A_.glif</string>
	<key>gjT_SA</key>
	<string>gjT__S_A_.glif</string>
	<key>gjT_S_NA</key>
	<string>gjT__S__N_A_.glif</string>
	<key>gjT_S_VA</key>
	<string>gjT__S__V_A_.glif</string>
	<key>gjT_S_YA</key>
	<string>gjT__S__Y_A_.glif</string>
	<key>gjT_TA</key>
	<string>gjT__T_A_.glif</string>
	<key>gjT_THA</key>
	<string>gjT__T_H_A_.glif</string>
	<key>gjT_T_VA</key>
	<string>gjT__T__V_A_.glif</string>
	<key>gjT_T_YA</key>
	<string>gjT__T__Y_A_.glif</string>
	<key>gjT_VA</key>
	<string>gjT__V_A_.glif</string>
	<key>gjT_YA</key>
	<string>gjT__Y_A_.glif</string>
	<key>gjThree</key>
	<string>gjT_hree.glif</string>
	<key>gjTwo</key>
	<string>gjT_wo.glif</string>
	<key>gjU</key>
	<string>gjU_.glif</string>
	<key>gjUU</key>
	<string>gjU_U_.glif</string>
	<key>gjVA</key>
	<string>gjV_A_.glif</string>
	<key>gjV_NA</key>
	<string>gjV__N_A_.glif</string>
	<key>gjV_RA</key>
	<string>gjV__R_A_.glif</string>
	<key>gjV_YA</key>
	<string>gjV__Y_A_.glif</string>
	<key>gjYA</key>
	<string>gjY_A_.glif</string>
	<key>gjY_NA</key>
	<string>gjY__N_A_.glif</string>
	<key>gjY_RA</key>
	<string>gjY__R_A_.glif</string>
	<key>gjY_YA</key>
	<string>gjY__Y_A_.glif</string>
	<key>gjmAI</key>
	<string>gjmA_I_.glif</string>
	<key>gjmAI_Reph</key>
	<string>gjmA_I__R_eph.glif</string>
	<key>gjmAI_Reph_Anusvara</key>
	<string>gjmA_I__R_eph_A_nusvara.glif</string>
	<key>gjmAU</key>
	<string>gjmA_U_.glif</string>
	<key>gjmE_Reph</key>
	<string>gjmE__R_eph.glif</string>
	<key>gjmE_Reph_Anusvara</key>
	<string>gjmE__R_eph_A_nusvara.glif</string>
	<key>gjmvL</key>
	<string>gjmvL_.glif</string>
	<key>gjmvLL</key>
	<string>gjmvL_L_.glif</string>
	<key>gjmvRR</key>
	<string>gjmvR_R_.glif</string>
	<key>gjvL</key>
	<string>gjvL_.glif</string>
	<key>gjvLL</key>
	<string>gjvL_L_.glif</string>
	<key>gjvR</key>
	<string>gjvR_.glif</string>
	<key>gjvRR</key>
	<string>gjvR_R_.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>indianrupee</key>
	<string>indianrupee.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>litre</key>
	<string>litre.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mu.math</key>
	<string>mu.math.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>onequarter</key>
	<string>onequarter.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>threequarters</key>
	<string>threequarters.glif</string>
	<key>trademark</key>
	<string>trademark.glif</string>
	<key>turkishlira</key>
	<string>turkishlira.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zerowidthjoiner</key>
	<string>zerowidthjoiner.glif</string>
</dict>
</plist>
