<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccaron</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>I</string>
		<string>M</string>
		<string>N</string>
	</array>
	<key>@MMK_L_I</key>
	<array>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>Lslash</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M.init</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>ccaron</string>
	</array>
	<key>@MMK_L_d</key>
	<array>
		<string>d</string>
		<string>dcaron</string>
		<string>dcroat</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_L_gjCHA</key>
	<array>
		<string>gjCHA</string>
		<string>gjCH</string>
		<string>gjCH_RA</string>
		<string>gjC_CHA</string>
		<string>gjC_CH_VA</string>
		<string>gjCH_VA</string>
		<string>gjN_CHA</string>
		<string>gjCHA.alt</string>
	</array>
	<key>@MMK_L_gjDA</key>
	<array>
		<string>gjDA</string>
		<string>gjK_DA</string>
		<string>gjJ_DA</string>
		<string>gjD_DA</string>
		<string>gjN_DA</string>
		<string>gjB_DA</string>
		<string>gjM_DA</string>
		<string>gjL_DA</string>
		<string>gjL_V_DA</string>
		<string>gjS_DA</string>
		<string>gjDA_mvR</string>
	</array>
	<key>@MMK_L_gjDDA</key>
	<array>
		<string>gjDDA</string>
		<string>gjDD</string>
		<string>gjDD_RA</string>
		<string>gjDD_R</string>
		<string>gjK_S_DDA</string>
		<string>gjJ_DDA</string>
		<string>gjDD_DDA</string>
		<string>gjDD_DDHA</string>
		<string>gjDD_VA</string>
		<string>gjN_DDA</string>
		<string>gjL_DDA</string>
	</array>
	<key>@MMK_L_gjDDHA</key>
	<array>
		<string>gjDDHA</string>
		<string>gjDDH</string>
		<string>gjDDH_RA</string>
		<string>gjDDH_R</string>
		<string>gjDDH_DDHA</string>
		<string>gjL_DDHA</string>
	</array>
	<key>@MMK_L_gjJA</key>
	<array>
		<string>gjJA</string>
		<string>gjJ_RA</string>
		<string>gjK_JA</string>
		<string>gjJ_JA</string>
		<string>gjNY_JA</string>
		<string>gjPH_JA</string>
		<string>gjB_JA</string>
		<string>gjL_JA</string>
		<string>gjS_JA</string>
	</array>
	<key>@MMK_L_gjJHA</key>
	<array>
		<string>gjJHA</string>
		<string>gjHA</string>
		<string>gjJ_JHA</string>
		<string>gjN_JHA</string>
		<string>gjB_JHA</string>
	</array>
	<key>@MMK_L_gjLLA</key>
	<array>
		<string>gjLLA</string>
	</array>
	<key>@MMK_L_gjNGA</key>
	<array>
		<string>gjNGA</string>
	</array>
	<key>@MMK_L_gjPHA</key>
	<array>
		<string>gjPHA</string>
		<string>gjPH_RA</string>
		<string>gjK_PHA</string>
		<string>gjT_PHA</string>
		<string>gjN_PHA</string>
		<string>gjP_PHA</string>
		<string>gjPH_PHA</string>
		<string>gjL_PHA</string>
		<string>gjSS_PHA</string>
		<string>gjS_PHA</string>
	</array>
	<key>@MMK_L_gjTTA</key>
	<array>
		<string>gjTTA</string>
		<string>gjK_TTA</string>
		<string>gjK_S_TTA</string>
		<string>gjJ_TTA</string>
		<string>gjN_TTA</string>
		<string>gjN_S_TTA</string>
		<string>gjP_TTA</string>
		<string>gjPH_TTA</string>
		<string>gjL_TTA</string>
		<string>gjSS_TTA</string>
		<string>gjS_TTA</string>
	</array>
	<key>@MMK_L_gjTTHA</key>
	<array>
		<string>gjTTHA</string>
		<string>gjP_TTHA</string>
		<string>gjL_TTHA</string>
		<string>gjSS_TTHA</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessi</string>
		<string>fi</string>
		<string>f_f_i</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>fl</string>
		<string>f_f_l</string>
	</array>
	<key>@MMK_L_m</key>
	<array>
		<string>m</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>AE</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>H</string>
		<string>I</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>P</string>
	</array>
	<key>@MMK_R_I</key>
	<array>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>G</string>
		<string>O</string>
		<string>Q</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Oslash</string>
		<string>Omacron</string>
		<string>Ohungarumlaut</string>
		<string>OE</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tcedilla</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Umacron</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>ae</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>k</string>
		<string>l</string>
		<string>p</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>fi</string>
		<string>fl</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
	</array>
	<key>@MMK_R_gjBA</key>
	<array>
		<string>gjBA</string>
		<string>gjB</string>
		<string>gjB_RA</string>
		<string>gjB_R</string>
		<string>gjB_JA</string>
		<string>gjB_J_YA</string>
		<string>gjB_JHA</string>
		<string>gjB_DA</string>
		<string>gjB_DHA</string>
		<string>gjB_DH_VA</string>
		<string>gjB_NA</string>
		<string>gjB_BA</string>
		<string>gjB_YA</string>
		<string>gjB_SHA</string>
		<string>gjB_SA</string>
	</array>
	<key>@MMK_R_gjBHA</key>
	<array>
		<string>gjBHA</string>
		<string>gjBH</string>
		<string>gjBH_RA</string>
		<string>gjBH_R</string>
		<string>gjBH_NA</string>
		<string>gjBH_YA</string>
		<string>gjBH_LA</string>
		<string>gjBH_VA</string>
	</array>
	<key>@MMK_R_gjCA</key>
	<array>
		<string>gjA</string>
		<string>gjAA</string>
		<string>gjE</string>
		<string>gjAI</string>
		<string>gjO</string>
		<string>gjAU</string>
		<string>gjEcandra</string>
		<string>gjOcandra</string>
		<string>gjCA</string>
		<string>gjRA</string>
		<string>gjSHA</string>
		<string>gjSA</string>
		<string>gjC</string>
		<string>gjSH</string>
		<string>gjS</string>
		<string>gjC_RA</string>
		<string>gjC_R</string>
		<string>gjS_R</string>
		<string>gjC_CA</string>
		<string>gjC_CHA</string>
		<string>gjC_CH_VA</string>
		<string>gjC_NA</string>
		<string>gjC_MA</string>
		<string>gjC_YA</string>
		<string>gjSH_NA</string>
		<string>gjS_KA</string>
		<string>gjS_K_RA</string>
		<string>gjS_K_VA</string>
		<string>gjS_KHA</string>
		<string>gjS_JA</string>
		<string>gjS_TTA</string>
		<string>gjS_TT_RA</string>
		<string>gjS_T_RA</string>
		<string>gjS_T_R</string>
		<string>gjS_THA</string>
		<string>gjS_TH_YA</string>
		<string>gjS_DA</string>
		<string>gjS_NA</string>
		<string>gjS_PA</string>
		<string>gjS_P_RA</string>
		<string>gjS_PHA</string>
		<string>gjS_MA</string>
		<string>gjS_M_YA</string>
		<string>gjS_YA</string>
		<string>gjS_VA</string>
		<string>gjS_SA</string>
		<string>gjSHA.matrau</string>
		<string>gjSA.matrau</string>
	</array>
	<key>@MMK_R_gjCHA</key>
	<array>
		<string>gjCHA</string>
		<string>gjCH</string>
		<string>gjCH_RA</string>
		<string>gjCH_YA</string>
		<string>gjCH_VA</string>
	</array>
	<key>@MMK_R_gjDA</key>
	<array>
		<string>gjDA</string>
		<string>gjD</string>
		<string>gjD_DA</string>
		<string>gjDA_mvR</string>
	</array>
	<key>@MMK_R_gjDDHA</key>
	<array>
		<string>gjDDHA</string>
		<string>gjDDH</string>
		<string>gjDDH_RA</string>
		<string>gjDDH_R</string>
		<string>gjDDH_DDHA</string>
	</array>
	<key>@MMK_R_gjDHA</key>
	<array>
		<string>gjDHA</string>
		<string>gjDH</string>
		<string>gjDH_RA</string>
		<string>gjDH_R</string>
		<string>gjDH_NA</string>
		<string>gjDH_N_YA</string>
		<string>gjDH_MA</string>
		<string>gjDH_YA</string>
		<string>gjDH_VA</string>
	</array>
	<key>@MMK_R_gjGA</key>
	<array>
		<string>gjGA</string>
		<string>gjJHA</string>
		<string>gjNYA</string>
		<string>gjG</string>
		<string>gjNY</string>
		<string>gjG_RA</string>
		<string>gjG_R</string>
		<string>gjG_NA</string>
		<string>gjG_R_YA</string>
		<string>gjNY_JA</string>
	</array>
	<key>@MMK_R_gjGHA</key>
	<array>
		<string>gjGHA</string>
		<string>gjGH</string>
		<string>gjGH_RA</string>
		<string>gjGH_R</string>
		<string>gjGH_NA</string>
		<string>gjGH_MA</string>
		<string>gjGH_YA</string>
	</array>
	<key>@MMK_R_gjI</key>
	<array>
		<string>gjI</string>
		<string>gjII</string>
	</array>
	<key>@MMK_R_gjJA</key>
	<array>
		<string>gjJA</string>
		<string>gjJ</string>
		<string>gjJ_RA</string>
		<string>gjJ_R</string>
		<string>gjJ_KA</string>
		<string>gjJ_JA</string>
		<string>gjJ_J_YA</string>
		<string>gjJ_J_VA</string>
		<string>gjJ_JHA</string>
		<string>gjJ_TTA</string>
		<string>gjJ_DDA</string>
		<string>gjJ_TA</string>
		<string>gjJ_DA</string>
		<string>gjJ_NA</string>
		<string>gjJ_MA</string>
		<string>gjJ_YA</string>
		<string>gjJA_mAA</string>
		<string>gjJ_RA_mAA</string>
		<string>gjJA_mII</string>
		<string>gjJ_RA_mII</string>
	</array>
	<key>@MMK_R_gjKA</key>
	<array>
		<string>gjKA</string>
		<string>gjPHA</string>
		<string>gjK</string>
		<string>gjPH</string>
		<string>gjPH_RA</string>
		<string>gjPH_R</string>
		<string>gjK_KA</string>
		<string>gjK_KHA</string>
		<string>gjK_CA</string>
		<string>gjK_JA</string>
		<string>gjK_TTA</string>
		<string>gjK_NNA</string>
		<string>gjK_TA</string>
		<string>gjK_T_YA</string>
		<string>gjK_T_RA</string>
		<string>gjK_T_VA</string>
		<string>gjK_THA</string>
		<string>gjK_DA</string>
		<string>gjK_NA</string>
		<string>gjK_PA</string>
		<string>gjK_P_RA</string>
		<string>gjK_PHA</string>
		<string>gjK_MA</string>
		<string>gjK_YA</string>
		<string>gjK_LA</string>
		<string>gjK_VA</string>
		<string>gjK_V_YA</string>
		<string>gjK_SHA</string>
		<string>gjK_SS_M_YA</string>
		<string>gjK_SA</string>
		<string>gjK_S_TTA</string>
		<string>gjK_S_DDA</string>
		<string>gjK_S_TA</string>
		<string>gjK_S_P_RA</string>
		<string>gjK_S_P_LA</string>
		<string>gjPH_JA</string>
		<string>gjPH_TTA</string>
		<string>gjPH_TA</string>
		<string>gjPH_NA</string>
		<string>gjPH_PA</string>
		<string>gjPH_PHA</string>
		<string>gjPH_YA</string>
		<string>gjPH_SHA</string>
		<string>gjPH_SA</string>
	</array>
	<key>@MMK_R_gjLA</key>
	<array>
		<string>gjLA</string>
		<string>gjL</string>
		<string>gjL_KA</string>
		<string>gjL_K_YA</string>
		<string>gjL_KHA</string>
		<string>gjL_GA</string>
		<string>gjL_JA</string>
		<string>gjL_TTA</string>
		<string>gjL_TTHA</string>
		<string>gjL_DDA</string>
		<string>gjL_DDHA</string>
		<string>gjL_TA</string>
		<string>gjL_THA</string>
		<string>gjL_TH_YA</string>
		<string>gjL_DA</string>
		<string>gjL_D_RA</string>
		<string>gjL_PA</string>
		<string>gjL_PHA</string>
		<string>gjL_BHA</string>
		<string>gjL_MA</string>
		<string>gjL_YA</string>
		<string>gjL_LA</string>
		<string>gjL_L_YA</string>
		<string>gjL_V_DA</string>
		<string>gjL_SA</string>
		<string>gjL_HA</string>
	</array>
	<key>@MMK_R_gjMA</key>
	<array>
		<string>gjMA</string>
		<string>gjM</string>
		<string>gjM_RA</string>
		<string>gjM_R</string>
		<string>gjM_DA</string>
		<string>gjM_NA</string>
		<string>gjM_PA</string>
		<string>gjM_P_RA</string>
		<string>gjM_BA</string>
		<string>gjM_B_YA</string>
		<string>gjM_B_RA</string>
		<string>gjM_BHA</string>
		<string>gjM_MA</string>
		<string>gjM_YA</string>
		<string>gjM_R_MA</string>
		<string>gjM_VA</string>
		<string>gjM_SHA</string>
		<string>gjM_SA</string>
	</array>
	<key>@MMK_R_gjNA</key>
	<array>
		<string>gjNA</string>
		<string>gjN</string>
		<string>gjN_KA</string>
		<string>gjN_K_SA</string>
		<string>gjN_CHA</string>
		<string>gjN_JHA</string>
		<string>gjN_TTA</string>
		<string>gjN_DDA</string>
		<string>gjN_TA</string>
		<string>gjN_T_YA</string>
		<string>gjN_T_RA</string>
		<string>gjN_T_SA</string>
		<string>gjN_THA</string>
		<string>gjN_TH_YA</string>
		<string>gjN_TH_VA</string>
		<string>gjN_DA</string>
		<string>gjN_D_VA</string>
		<string>gjN_DHA</string>
		<string>gjN_DH_YA</string>
		<string>gjN_DH_RA</string>
		<string>gjN_DH_VA</string>
		<string>gjN_NA</string>
		<string>gjN_N_YA</string>
		<string>gjN_PA</string>
		<string>gjN_P_RA</string>
		<string>gjN_PHA</string>
		<string>gjN_BHA</string>
		<string>gjN_BH_VA</string>
		<string>gjN_MA</string>
		<string>gjN_M_YA</string>
		<string>gjN_YA</string>
		<string>gjN_SA</string>
		<string>gjN_S_TTA</string>
		<string>gjN_S_M_YA</string>
		<string>gjN_S_YA</string>
	</array>
	<key>@MMK_R_gjNGA</key>
	<array>
		<string>gjNGA</string>
		<string>gjDDA</string>
		<string>gjNG</string>
	</array>
	<key>@MMK_R_gjNNA</key>
	<array>
		<string>gjNNA</string>
		<string>gjNN</string>
	</array>
	<key>@MMK_R_gjPA</key>
	<array>
		<string>gjKHA</string>
		<string>gjPA</string>
		<string>gjSSA</string>
		<string>gjKH</string>
		<string>gjP</string>
		<string>gjSS</string>
		<string>gjKH_RA</string>
		<string>gjP_RA</string>
		<string>gjKH_R</string>
		<string>gjP_R</string>
		<string>gjKH_KHA</string>
		<string>gjKH_TA</string>
		<string>gjKH_NA</string>
		<string>gjKH_MA</string>
		<string>gjKH_YA</string>
		<string>gjKH_SHA</string>
		<string>gjKH_SA</string>
		<string>gjP_TTA</string>
		<string>gjP_TTHA</string>
		<string>gjP_TA</string>
		<string>gjP_NA</string>
		<string>gjP_PA</string>
		<string>gjP_PHA</string>
		<string>gjP_MA</string>
		<string>gjP_YA</string>
		<string>gjP_LA</string>
		<string>gjP_VA</string>
		<string>gjSS_KA</string>
		<string>gjSS_K_RA</string>
		<string>gjSS_TTA</string>
		<string>gjSS_TT_YA</string>
		<string>gjSS_TT_RA</string>
		<string>gjSS_TT_VA</string>
		<string>gjSS_TTHA</string>
		<string>gjSS_TTH_YA</string>
		<string>gjSS_TTH_RA</string>
		<string>gjSS_NNA</string>
		<string>gjSS_NN_YA</string>
		<string>gjSS_PA</string>
		<string>gjSS_P_RA</string>
		<string>gjSS_PHA</string>
		<string>gjSS_MA</string>
		<string>gjSS_M_YA</string>
		<string>gjSS_YA</string>
		<string>gjSS_VA</string>
		<string>gjSS_SSA</string>
	</array>
	<key>@MMK_R_gjTA</key>
	<array>
		<string>gjTA</string>
		<string>gjT</string>
		<string>gjT_KA</string>
		<string>gjT_K_YA</string>
		<string>gjT_K_RA</string>
		<string>gjT_K_VA</string>
		<string>gjT_K_SSA</string>
		<string>gjT_KHA</string>
		<string>gjT_KH_NA</string>
		<string>gjT_KH_RA</string>
		<string>gjT_THA</string>
		<string>gjT_NA</string>
		<string>gjT_N_YA</string>
		<string>gjT_PA</string>
		<string>gjT_P_RA</string>
		<string>gjT_P_LA</string>
		<string>gjT_PHA</string>
		<string>gjT_MA</string>
		<string>gjT_M_YA</string>
		<string>gjT_YA</string>
		<string>gjT_LA</string>
		<string>gjT_VA</string>
		<string>gjT_SA</string>
		<string>gjT_S_NA</string>
		<string>gjT_S_YA</string>
		<string>gjT_S_VA</string>
	</array>
	<key>@MMK_R_gjTHA</key>
	<array>
		<string>gjTHA</string>
		<string>gjTH</string>
		<string>gjTH_RA</string>
		<string>gjTH_R</string>
		<string>gjTH_NA</string>
		<string>gjTH_YA</string>
		<string>gjTH_VA</string>
	</array>
	<key>@MMK_R_gjTTA</key>
	<array>
		<string>gjTTA</string>
		<string>gjTT</string>
		<string>gjTT_RA</string>
		<string>gjTT_R</string>
		<string>gjTT_TTA</string>
		<string>gjTT_TTHA</string>
		<string>gjTT_YA</string>
		<string>gjTT_VA</string>
	</array>
	<key>@MMK_R_gjTTHA</key>
	<array>
		<string>gjTTHA</string>
		<string>gjTTH</string>
		<string>gjTTH_RA</string>
		<string>gjTTH_R</string>
		<string>gjTTH_TTHA</string>
		<string>gjTTH_YA</string>
	</array>
	<key>@MMK_R_gjVA</key>
	<array>
		<string>gjVA</string>
		<string>gjLLA</string>
		<string>gjV</string>
		<string>gjLL</string>
		<string>gjLL_YA</string>
	</array>
	<key>@MMK_R_gjYA</key>
	<array>
		<string>gjYA</string>
		<string>gjY</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>dotlessi</string>
	</array>
	<key>@MMK_R_k</key>
	<array>
		<string>kcommaaccent</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>lslash</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>r</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>o</string>
		<string>q</string>
		<string>ccedilla</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>oslash</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>emacron</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>omacron</string>
		<string>ohungarumlaut</string>
		<string>oe</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>period</string>
	</array>
	<key>@MMK_R_r</key>
	<array>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tcedilla</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>umacron</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
	</array>
	<key>generated_BASES_FOR_MATRA_I</key>
	<array>
		<string>gjKA</string>
		<string>gjKHA</string>
		<string>gjGA</string>
		<string>gjGHA</string>
		<string>gjNGA</string>
		<string>gjCA</string>
		<string>gjCHA</string>
		<string>gjJA</string>
		<string>gjJHA</string>
		<string>gjNYA</string>
		<string>gjTTA</string>
		<string>gjTTHA</string>
		<string>gjDDA</string>
		<string>gjDDHA</string>
		<string>gjNNA</string>
		<string>gjTA</string>
		<string>gjTHA</string>
		<string>gjDA</string>
		<string>gjDHA</string>
		<string>gjNA</string>
		<string>gjPA</string>
		<string>gjPHA</string>
		<string>gjBA</string>
		<string>gjBHA</string>
		<string>gjMA</string>
		<string>gjYA</string>
		<string>gjRA</string>
		<string>gjLA</string>
		<string>gjVA</string>
		<string>gjSHA</string>
		<string>gjSSA</string>
		<string>gjSA</string>
		<string>gjHA</string>
		<string>gjLLA</string>
		<string>gjK_SSA</string>
		<string>gjJ_NYA</string>
		<string>gjK_RA</string>
		<string>gjKH_RA</string>
		<string>gjG_RA</string>
		<string>gjGH_RA</string>
		<string>gjC_RA</string>
		<string>gjCH_RA</string>
		<string>gjJ_RA</string>
		<string>gjJH_RA</string>
		<string>gjTT_RA</string>
		<string>gjTTH_RA</string>
		<string>gjDD_RA</string>
		<string>gjDDH_RA</string>
		<string>gjT_RA</string>
		<string>gjTH_RA</string>
		<string>gjD_RA</string>
		<string>gjDH_RA</string>
		<string>gjN_RA</string>
		<string>gjP_RA</string>
		<string>gjPH_RA</string>
		<string>gjB_RA</string>
		<string>gjBH_RA</string>
		<string>gjM_RA</string>
		<string>gjY_RA</string>
		<string>gjV_RA</string>
		<string>gjSH_RA</string>
		<string>gjS_RA</string>
		<string>gjH_RA</string>
		<string>gjK_KA</string>
		<string>gjK_KHA</string>
		<string>gjK_CA</string>
		<string>gjK_JA</string>
		<string>gjK_TTA</string>
		<string>gjK_NNA</string>
		<string>gjK_TA</string>
		<string>gjK_T_YA</string>
		<string>gjK_T_RA</string>
		<string>gjK_T_VA</string>
		<string>gjK_THA</string>
		<string>gjK_DA</string>
		<string>gjK_NA</string>
		<string>gjK_PA</string>
		<string>gjK_P_RA</string>
		<string>gjK_PHA</string>
		<string>gjK_MA</string>
		<string>gjK_YA</string>
		<string>gjK_LA</string>
		<string>gjK_VA</string>
		<string>gjK_V_YA</string>
		<string>gjK_SHA</string>
		<string>gjK_SS_MA</string>
		<string>gjK_SS_M_YA</string>
		<string>gjK_SS_YA</string>
		<string>gjK_SS_VA</string>
		<string>gjK_SA</string>
		<string>gjK_S_TTA</string>
		<string>gjK_S_DDA</string>
		<string>gjK_S_TA</string>
		<string>gjK_S_P_RA</string>
		<string>gjK_S_P_LA</string>
		<string>gjKH_KHA</string>
		<string>gjKH_TA</string>
		<string>gjKH_NA</string>
		<string>gjKH_MA</string>
		<string>gjKH_YA</string>
		<string>gjKH_SHA</string>
		<string>gjG_NA</string>
		<string>gjG_R_YA</string>
		<string>gjGH_NA</string>
		<string>gjGH_MA</string>
		<string>gjGH_YA</string>
		<string>gjC_CA</string>
		<string>gjC_CHA</string>
		<string>gjC_CH_VA</string>
		<string>gjC_NA</string>
		<string>gjC_MA</string>
		<string>gjC_YA</string>
		<string>gjCH_YA</string>
		<string>gjCH_VA</string>
		<string>gjJ_KA</string>
		<string>gjJ_JA</string>
		<string>gjJ_J_YA</string>
		<string>gjJ_J_VA</string>
		<string>gjJ_JHA</string>
		<string>gjJ_NY_YA</string>
		<string>gjJ_TTA</string>
		<string>gjJ_DDA</string>
		<string>gjJ_TA</string>
		<string>gjJ_DA</string>
		<string>gjJ_NA</string>
		<string>gjJ_MA</string>
		<string>gjJ_YA</string>
		<string>gjNY_JA</string>
		<string>gjTT_TTA</string>
		<string>gjTT_TTHA</string>
		<string>gjTT_YA</string>
		<string>gjTT_VA</string>
		<string>gjTTH_TTHA</string>
		<string>gjTTH_YA</string>
		<string>gjDD_DDA</string>
		<string>gjDD_DDHA</string>
		<string>gjDD_YA</string>
		<string>gjDD_VA</string>
		<string>gjDDH_DDHA</string>
		<string>gjDDH_YA</string>
		<string>gjT_KA</string>
		<string>gjT_K_YA</string>
		<string>gjT_K_RA</string>
		<string>gjT_K_VA</string>
		<string>gjT_K_SSA</string>
		<string>gjT_KHA</string>
		<string>gjT_KH_NA</string>
		<string>gjT_KH_RA</string>
		<string>gjT_TA</string>
		<string>gjT_T_YA</string>
		<string>gjT_T_VA</string>
		<string>gjT_THA</string>
		<string>gjT_NA</string>
		<string>gjT_N_YA</string>
		<string>gjT_PA</string>
		<string>gjT_P_RA</string>
		<string>gjT_P_LA</string>
		<string>gjT_PHA</string>
		<string>gjT_MA</string>
		<string>gjT_M_YA</string>
		<string>gjT_YA</string>
		<string>gjT_R_YA</string>
		<string>gjT_LA</string>
		<string>gjT_VA</string>
		<string>gjT_SA</string>
		<string>gjT_S_NA</string>
		<string>gjT_S_YA</string>
		<string>gjT_S_VA</string>
		<string>gjTH_NA</string>
		<string>gjTH_YA</string>
		<string>gjTH_VA</string>
		<string>gjD_GHA</string>
		<string>gjD_DA</string>
		<string>gjD_DHA</string>
		<string>gjD_NA</string>
		<string>gjD_BHA</string>
		<string>gjD_MA</string>
		<string>gjD_YA</string>
		<string>gjD_VA</string>
		<string>gjDH_NA</string>
		<string>gjDH_N_YA</string>
		<string>gjDH_MA</string>
		<string>gjDH_YA</string>
		<string>gjDH_VA</string>
		<string>gjN_KA</string>
		<string>gjN_K_SA</string>
		<string>gjN_CHA</string>
		<string>gjN_TTA</string>
		<string>gjN_DDA</string>
		<string>gjN_TA</string>
		<string>gjN_T_YA</string>
		<string>gjN_T_RA</string>
		<string>gjN_T_SA</string>
		<string>gjN_THA</string>
		<string>gjN_TH_YA</string>
		<string>gjN_TH_VA</string>
		<string>gjN_DA</string>
		<string>gjN_D_VA</string>
		<string>gjN_DHA</string>
		<string>gjN_DH_YA</string>
		<string>gjN_DH_RA</string>
		<string>gjN_DH_VA</string>
		<string>gjN_NA</string>
		<string>gjN_N_YA</string>
		<string>gjN_PA</string>
		<string>gjN_P_RA</string>
		<string>gjN_PHA</string>
		<string>gjN_BHA</string>
		<string>gjN_BH_VA</string>
		<string>gjN_MA</string>
		<string>gjN_M_YA</string>
		<string>gjN_YA</string>
		<string>gjN_SA</string>
		<string>gjN_S_TTA</string>
		<string>gjN_S_M_YA</string>
		<string>gjN_S_YA</string>
		<string>gjP_TTA</string>
		<string>gjP_TTHA</string>
		<string>gjP_TA</string>
		<string>gjP_NA</string>
		<string>gjP_PA</string>
		<string>gjP_PHA</string>
		<string>gjP_MA</string>
		<string>gjP_YA</string>
		<string>gjP_LA</string>
		<string>gjP_VA</string>
		<string>gjPH_JA</string>
		<string>gjPH_TTA</string>
		<string>gjPH_TA</string>
		<string>gjPH_NA</string>
		<string>gjPH_PA</string>
		<string>gjPH_PHA</string>
		<string>gjPH_YA</string>
		<string>gjPH_SHA</string>
		<string>gjB_JA</string>
		<string>gjB_J_YA</string>
		<string>gjB_JHA</string>
		<string>gjB_DA</string>
		<string>gjB_DHA</string>
		<string>gjB_DH_VA</string>
		<string>gjB_NA</string>
		<string>gjB_BA</string>
		<string>gjB_YA</string>
		<string>gjB_SHA</string>
		<string>gjB_SA</string>
		<string>gjBH_NA</string>
		<string>gjBH_YA</string>
		<string>gjBH_LA</string>
		<string>gjBH_VA</string>
		<string>gjM_DA</string>
		<string>gjM_NA</string>
		<string>gjM_PA</string>
		<string>gjM_P_RA</string>
		<string>gjM_BA</string>
		<string>gjM_B_YA</string>
		<string>gjM_B_RA</string>
		<string>gjM_BHA</string>
		<string>gjM_MA</string>
		<string>gjM_YA</string>
		<string>gjM_VA</string>
		<string>gjM_SHA</string>
		<string>gjM_SA</string>
		<string>gjY_NA</string>
		<string>gjY_YA</string>
		<string>gjL_KA</string>
		<string>gjL_K_YA</string>
		<string>gjL_KHA</string>
		<string>gjL_GA</string>
		<string>gjL_JA</string>
		<string>gjL_TTA</string>
		<string>gjL_TTHA</string>
		<string>gjL_DDA</string>
		<string>gjL_DDHA</string>
		<string>gjL_TA</string>
		<string>gjL_THA</string>
		<string>gjL_TH_YA</string>
		<string>gjL_DA</string>
		<string>gjL_D_RA</string>
		<string>gjL_PA</string>
		<string>gjL_PHA</string>
		<string>gjL_BHA</string>
		<string>gjL_MA</string>
		<string>gjL_YA</string>
		<string>gjL_LA</string>
		<string>gjL_L_YA</string>
		<string>gjL_SA</string>
		<string>gjL_HA</string>
		<string>gjV_NA</string>
		<string>gjV_YA</string>
		<string>gjV_LA</string>
		<string>gjV_VA</string>
		<string>gjV_HA</string>
		<string>gjSH_CA</string>
		<string>gjSH_NA</string>
		<string>gjSH_VA</string>
		<string>gjSS_KA</string>
		<string>gjSS_K_RA</string>
		<string>gjSS_TTA</string>
		<string>gjSS_TT_YA</string>
		<string>gjSS_TT_RA</string>
		<string>gjSS_TT_VA</string>
		<string>gjSS_TTHA</string>
		<string>gjSS_TTH_YA</string>
		<string>gjSS_TTH_RA</string>
		<string>gjSS_NNA</string>
		<string>gjSS_NN_YA</string>
		<string>gjSS_PA</string>
		<string>gjSS_P_RA</string>
		<string>gjSS_PHA</string>
		<string>gjSS_MA</string>
		<string>gjSS_M_YA</string>
		<string>gjSS_YA</string>
		<string>gjSS_VA</string>
		<string>gjSS_SSA</string>
		<string>gjS_KA</string>
		<string>gjS_K_RA</string>
		<string>gjS_K_VA</string>
		<string>gjS_KHA</string>
		<string>gjS_JA</string>
		<string>gjS_TTA</string>
		<string>gjS_T_RA</string>
		<string>gjS_THA</string>
		<string>gjS_TH_YA</string>
		<string>gjS_DA</string>
		<string>gjS_NA</string>
		<string>gjS_PA</string>
		<string>gjS_P_RA</string>
		<string>gjS_PHA</string>
		<string>gjS_MA</string>
		<string>gjS_M_YA</string>
		<string>gjS_YA</string>
		<string>gjS_VA</string>
		<string>gjS_SA</string>
		<string>gjH_NA</string>
		<string>gjH_MA</string>
		<string>gjH_YA</string>
		<string>gjH_VA</string>
		<string>gjLL_YA</string>
	</array>
	<key>generated_BASES_FOR_WIDE_MATRA_II</key>
	<array>
	</array>
	<key>generated_MARKS</key>
	<array>
		<string>gjmU</string>
		<string>gjmUU</string>
		<string>gjmvR</string>
		<string>gjmvL</string>
		<string>gjmvLL</string>
		<string>gjmE</string>
		<string>gjmAI</string>
		<string>gjmEcandra</string>
		<string>gjAnusvara</string>
		<string>gjCandrabindu</string>
		<string>gjVirama</string>
		<string>gjNukta</string>
		<string>gjReph</string>
		<string>gjReph_Anusvara</string>
		<string>gjAnusvara.matrai</string>
		<string>gjReph.matrai</string>
		<string>gjReph_Anusvara.matrai</string>
		<string>gjmE_Anusvara</string>
		<string>gjmE_Reph</string>
		<string>gjmE_Reph_Anusvara</string>
		<string>gjmAI_Anusvara</string>
		<string>gjmAI_Reph</string>
		<string>gjmAI_Reph_Anusvara</string>
		<string>gjmEcandra_Anusvara</string>
		<string>grave</string>
		<string>dieresis</string>
		<string>macron</string>
		<string>acute</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>ogonek</string>
		<string>tilde</string>
		<string>hungarumlaut</string>
		<string>commaaccentcomb</string>
		<string>caron.alt01</string>
		<string>caron.alt02</string>
	</array>
	<key>generated_MATRA_I_ALTS</key>
	<array>
		<string>gjmI.01</string>
		<string>gjmI.02</string>
	</array>
</dict>
</plist>
