<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>10</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>20</integer>
		<key>M</key>
		<integer>-30</integer>
		<key>N</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>W</key>
		<integer>-80</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>question</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>0</integer>
		<key>J</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>20</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>30</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>parenright</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-50</integer>
		<key>@MMK_R_Z</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-40</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>30</integer>
		<key>V</key>
		<integer>-120</integer>
		<key>W</key>
		<integer>-110</integer>
		<key>Y</key>
		<integer>-130</integer>
		<key>question</key>
		<integer>-90</integer>
		<key>quotedblright</key>
		<integer>-70</integer>
		<key>quoteright</key>
		<integer>-90</integer>
		<key>quotesingle</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_M</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_H</key>
		<integer>20</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>quotesingle</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_H</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>10</integer>
		<key>V</key>
		<integer>-70</integer>
		<key>W</key>
		<integer>-80</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-90</integer>
		<key>question</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>20</integer>
		<key>V</key>
		<integer>-90</integer>
		<key>W</key>
		<integer>-90</integer>
		<key>X</key>
		<integer>20</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>question</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>10</integer>
		<key>M</key>
		<integer>-40</integer>
		<key>N</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-90</integer>
		<key>V</key>
		<integer>10</integer>
		<key>comma</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>30</integer>
		<key>quotesingle</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>M</key>
		<integer>-30</integer>
		<key>R</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>10</integer>
		<key>quotesingle</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_Z</key>
		<integer>30</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>10</integer>
		<key>W</key>
		<integer>15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>exclam</key>
		<integer>10</integer>
		<key>question</key>
		<integer>30</integer>
		<key>quoteright</key>
		<integer>50</integer>
		<key>quotesingle</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>G</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-110</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-70</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_s</key>
		<integer>20</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_u</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
		<key>@MMK_R_z</key>
		<integer>10</integer>
		<key>f</key>
		<integer>10</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_colon</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-80</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>question</key>
		<integer>20</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>20</integer>
		<key>question</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>90</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_k</key>
		<integer>80</integer>
		<key>@MMK_R_l</key>
		<integer>80</integer>
		<key>@MMK_R_t</key>
		<integer>10</integer>
		<key>@MMK_R_y</key>
		<integer>40</integer>
		<key>braceright</key>
		<integer>100</integer>
		<key>bracketright</key>
		<integer>30</integer>
		<key>exclam</key>
		<integer>100</integer>
		<key>f</key>
		<integer>90</integer>
		<key>p</key>
		<integer>10</integer>
		<key>parenright</key>
		<integer>120</integer>
		<key>question</key>
		<integer>120</integer>
		<key>quotedblright</key>
		<integer>100</integer>
		<key>quoteright</key>
		<integer>100</integer>
		<key>v</key>
		<integer>10</integer>
		<key>w</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>10</integer>
		<key>@MMK_R_g</key>
		<integer>50</integer>
		<key>@MMK_R_i</key>
		<integer>20</integer>
		<key>@MMK_R_n</key>
		<integer>20</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>70</integer>
		<key>braceright</key>
		<integer>50</integer>
		<key>bracketright</key>
		<integer>30</integer>
		<key>f</key>
		<integer>20</integer>
		<key>j</key>
		<integer>60</integer>
		<key>k</key>
		<integer>20</integer>
		<key>p</key>
		<integer>40</integer>
		<key>parenright</key>
		<integer>80</integer>
		<key>question</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_gjCHA</key>
	<dict>
		<key>@MMK_R_gjBHA</key>
		<integer>20</integer>
		<key>@MMK_R_gjCA</key>
		<integer>30</integer>
		<key>@MMK_R_gjDDHA</key>
		<integer>10</integer>
		<key>@MMK_R_gjDHA</key>
		<integer>20</integer>
		<key>@MMK_R_gjGA</key>
		<integer>30</integer>
		<key>@MMK_R_gjGHA</key>
		<integer>30</integer>
		<key>@MMK_R_gjI</key>
		<integer>-40</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjMA</key>
		<integer>30</integer>
		<key>@MMK_R_gjNA</key>
		<integer>30</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>10</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>0</integer>
		<key>@MMK_R_gjTTA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjTTHA</key>
		<integer>20</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-10</integer>
		<key>gjSA</key>
		<integer>20</integer>
		<key>gjSHA</key>
		<integer>20</integer>
		<key>gjS_MA</key>
		<integer>20</integer>
		<key>gjS_M_YA</key>
		<integer>20</integer>
		<key>gjS_PA</key>
		<integer>40</integer>
		<key>gjS_PHA</key>
		<integer>40</integer>
		<key>gjS_P_RA</key>
		<integer>40</integer>
		<key>gjS_SA</key>
		<integer>40</integer>
		<key>gjS_T_RA</key>
		<integer>10</integer>
		<key>gjS_VA</key>
		<integer>40</integer>
		<key>gjS_YA</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_gjDA</key>
	<dict>
		<key>@MMK_R_gjBA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjCA</key>
		<integer>0</integer>
		<key>@MMK_R_gjDDHA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjGA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjI</key>
		<integer>-50</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-54</integer>
		<key>@MMK_R_gjLA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjPA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-35</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-20</integer>
		<key>gjSA</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_gjDDA</key>
	<dict>
		<key>@MMK_R_gjCA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjI</key>
		<integer>-60</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-74</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>10</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjPA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-25</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_gjDDHA</key>
	<dict>
		<key>@MMK_R_gjBA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjBHA</key>
		<integer>25</integer>
		<key>@MMK_R_gjCA</key>
		<integer>10</integer>
		<key>@MMK_R_gjCHA</key>
		<integer>20</integer>
		<key>@MMK_R_gjDA</key>
		<integer>30</integer>
		<key>@MMK_R_gjDDHA</key>
		<integer>20</integer>
		<key>@MMK_R_gjDHA</key>
		<integer>20</integer>
		<key>@MMK_R_gjGHA</key>
		<integer>20</integer>
		<key>@MMK_R_gjI</key>
		<integer>-16</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjKA</key>
		<integer>20</integer>
		<key>@MMK_R_gjLA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjMA</key>
		<integer>10</integer>
		<key>@MMK_R_gjNA</key>
		<integer>20</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>30</integer>
		<key>@MMK_R_gjTA</key>
		<integer>20</integer>
		<key>@MMK_R_gjTTA</key>
		<integer>30</integer>
		<key>@MMK_R_gjTTHA</key>
		<integer>30</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-14</integer>
		<key>gjHA</key>
		<integer>10</integer>
		<key>gjL_DDHA</key>
		<integer>10</integer>
		<key>gjL_D_RA</key>
		<integer>0</integer>
		<key>gjL_GA</key>
		<integer>-10</integer>
		<key>gjL_JA</key>
		<integer>0</integer>
		<key>gjL_KHA</key>
		<integer>-5</integer>
		<key>gjL_L_YA</key>
		<integer>10</integer>
		<key>gjL_PA</key>
		<integer>-10</integer>
		<key>gjL_SA</key>
		<integer>0</integer>
		<key>gjL_TA</key>
		<integer>0</integer>
		<key>gjL_THA</key>
		<integer>30</integer>
		<key>gjL_TH_YA</key>
		<integer>30</integer>
		<key>gjL_TTHA</key>
		<integer>10</integer>
		<key>gjL_YA</key>
		<integer>10</integer>
		<key>gjM_SA</key>
		<integer>30</integer>
		<key>gjM_SHA</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_gjJA</key>
	<dict>
		<key>@MMK_R_gjBHA</key>
		<integer>30</integer>
		<key>@MMK_R_gjCA</key>
		<integer>10</integer>
		<key>@MMK_R_gjDDHA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjDHA</key>
		<integer>30</integer>
		<key>@MMK_R_gjGA</key>
		<integer>50</integer>
		<key>@MMK_R_gjGHA</key>
		<integer>40</integer>
		<key>@MMK_R_gjJA</key>
		<integer>40</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjLA</key>
		<integer>40</integer>
		<key>@MMK_R_gjMA</key>
		<integer>50</integer>
		<key>@MMK_R_gjNA</key>
		<integer>30</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>30</integer>
		<key>@MMK_R_gjPA</key>
		<integer>50</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>30</integer>
		<key>@MMK_R_gjTTA</key>
		<integer>-60</integer>
		<key>@MMK_R_gjVA</key>
		<integer>50</integer>
		<key>@MMK_R_gjYA</key>
		<integer>30</integer>
		<key>gjHA</key>
		<integer>-40</integer>
		<key>gjSHA</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_gjJHA</key>
	<dict>
		<key>@MMK_R_gjBA</key>
		<integer>-100</integer>
		<key>@MMK_R_gjBHA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjCA</key>
		<integer>-60</integer>
		<key>@MMK_R_gjCHA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjDA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjDDHA</key>
		<integer>-50</integer>
		<key>@MMK_R_gjDHA</key>
		<integer>-60</integer>
		<key>@MMK_R_gjGA</key>
		<integer>-90</integer>
		<key>@MMK_R_gjGHA</key>
		<integer>-60</integer>
		<key>@MMK_R_gjI</key>
		<integer>-10</integer>
		<key>@MMK_R_gjJA</key>
		<integer>10</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjLA</key>
		<integer>-90</integer>
		<key>@MMK_R_gjMA</key>
		<integer>-60</integer>
		<key>@MMK_R_gjNA</key>
		<integer>-60</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjPA</key>
		<integer>-90</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjTTA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjTTHA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-90</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-70</integer>
		<key>gjDDHA</key>
		<integer>-20</integer>
		<key>gjHA</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_gjLLA</key>
	<dict>
		<key>@MMK_R_gjJA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjPA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_gjNGA</key>
	<dict>
		<key>@MMK_R_gjCA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjCHA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjDDHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjGHA</key>
		<integer>-15</integer>
		<key>@MMK_R_gjI</key>
		<integer>-10</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-38</integer>
		<key>@MMK_R_gjMA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjNA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-25</integer>
		<key>@MMK_R_gjTTA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjTTHA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-15</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-20</integer>
		<key>gjDD_DDA</key>
		<integer>-20</integer>
		<key>gjDD_DDHA</key>
		<integer>-10</integer>
		<key>gjDD_RA</key>
		<integer>-20</integer>
		<key>gjDD_VA</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_gjPHA</key>
	<dict>
		<key>@MMK_R_gjDDHA</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_gjTTA</key>
	<dict>
		<key>@MMK_R_gjGHA</key>
		<integer>10</integer>
		<key>@MMK_R_gjI</key>
		<integer>-20</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-28</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-16</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_gjTTHA</key>
	<dict>
		<key>@MMK_R_gjCA</key>
		<integer>0</integer>
		<key>@MMK_R_gjGA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjI</key>
		<integer>-70</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-81</integer>
		<key>@MMK_R_gjNA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjPA</key>
		<integer>-50</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-34</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-10</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>question</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>10</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_l</key>
	<dict>
		<key>@MMK_R_colon</key>
		<integer>-70</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>braceright</key>
		<integer>20</integer>
		<key>f</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_m</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-110</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>question</key>
		<integer>-110</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-90</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_b</key>
		<integer>-10</integer>
		<key>@MMK_R_k</key>
		<integer>-25</integer>
		<key>@MMK_R_l</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>15</integer>
		<key>@MMK_R_y</key>
		<integer>40</integer>
		<key>bracketright</key>
		<integer>-30</integer>
		<key>h</key>
		<integer>-25</integer>
		<key>question</key>
		<integer>-60</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>-70</integer>
		<key>quoteright</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_r</key>
		<integer>20</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>20</integer>
		<key>parenright</key>
		<integer>30</integer>
		<key>quotedbl</key>
		<integer>30</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>f</key>
		<integer>0</integer>
		<key>question</key>
		<integer>-70</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>question</key>
		<integer>-70</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_n</key>
		<integer>20</integer>
		<key>@MMK_R_z</key>
		<integer>25</integer>
		<key>question</key>
		<integer>-90</integer>
		<key>quoteright</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>10</integer>
	</dict>
	<key>A</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>10</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-30</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>30</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>question</key>
		<integer>-30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>10</integer>
		<key>question</key>
		<integer>30</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_H</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_T</key>
		<integer>0</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-20</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
		<key>W</key>
		<integer>-50</integer>
	</dict>
	<key>Oslash</key>
	<dict>
		<key>V</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
		<key>@MMK_R_O</key>
		<integer>30</integer>
		<key>@MMK_R_T</key>
		<integer>20</integer>
		<key>@MMK_R_Z</key>
		<integer>20</integer>
		<key>@MMK_R_i</key>
		<integer>20</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-60</integer>
		<key>Y</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>20</integer>
		<key>quotesingle</key>
		<integer>20</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_O</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>0</integer>
		<key>@MMK_R_T</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>20</integer>
		<key>J</key>
		<integer>20</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-80</integer>
		<key>X</key>
		<integer>0</integer>
		<key>Y</key>
		<integer>-80</integer>
		<key>braceright</key>
		<integer>30</integer>
		<key>bracketright</key>
		<integer>30</integer>
		<key>parenright</key>
		<integer>50</integer>
		<key>question</key>
		<integer>-30</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_H</key>
		<integer>0</integer>
		<key>@MMK_R_O</key>
		<integer>20</integer>
		<key>@MMK_R_S</key>
		<integer>20</integer>
		<key>@MMK_R_T</key>
		<integer>50</integer>
		<key>@MMK_R_Z</key>
		<integer>30</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>V</key>
		<integer>20</integer>
		<key>W</key>
		<integer>20</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>exclam</key>
		<integer>20</integer>
		<key>question</key>
		<integer>40</integer>
		<key>quoteright</key>
		<integer>30</integer>
		<key>quotesingle</key>
		<integer>60</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-110</integer>
		<key>@MMK_R_H</key>
		<integer>10</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_S</key>
		<integer>10</integer>
		<key>@MMK_R_T</key>
		<integer>40</integer>
		<key>@MMK_R_Z</key>
		<integer>25</integer>
		<key>@MMK_R_period</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-120</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>20</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>exclam</key>
		<integer>20</integer>
		<key>question</key>
		<integer>30</integer>
		<key>quoteright</key>
		<integer>40</integer>
		<key>quotesingle</key>
		<integer>50</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>10</integer>
		<key>W</key>
		<integer>10</integer>
		<key>quoteright</key>
		<integer>30</integer>
		<key>quotesingle</key>
		<integer>20</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>20</integer>
		<key>question</key>
		<integer>-90</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>40</integer>
		<key>@MMK_R_g</key>
		<integer>60</integer>
		<key>j</key>
		<integer>60</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>20</integer>
		<key>j</key>
		<integer>30</integer>
	</dict>
	<key>dcroat</key>
	<dict>
		<key>x</key>
		<integer>-10</integer>
	</dict>
	<key>gjB</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>27</integer>
		<key>@MMK_R_gjVA</key>
		<integer>90</integer>
	</dict>
	<key>gjBH</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>50</integer>
		<key>@MMK_R_gjVA</key>
		<integer>70</integer>
	</dict>
	<key>gjC</key>
	<dict>
		<key>@MMK_R_gjVA</key>
		<integer>65</integer>
	</dict>
	<key>gjDD_DDHA</key>
	<dict>
		<key>@MMK_R_gjJA</key>
		<integer>-54</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>20</integer>
	</dict>
	<key>gjDD_RA</key>
	<dict>
		<key>@MMK_R_gjNGA</key>
		<integer>20</integer>
	</dict>
	<key>gjDH</key>
	<dict>
		<key>@MMK_R_gjVA</key>
		<integer>90</integer>
	</dict>
	<key>gjD_R</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>-30</integer>
	</dict>
	<key>gjD_RA</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>-30</integer>
	</dict>
	<key>gjEight</key>
	<dict>
		<key>gjEight</key>
		<integer>-70</integer>
		<key>gjFive</key>
		<integer>-50</integer>
		<key>gjFour</key>
		<integer>-34</integer>
		<key>gjNine</key>
		<integer>-50</integer>
		<key>gjOne</key>
		<integer>-20</integer>
		<key>gjSeven</key>
		<integer>-50</integer>
		<key>gjSix</key>
		<integer>-20</integer>
		<key>gjThree</key>
		<integer>-130</integer>
		<key>gjTwo</key>
		<integer>-40</integer>
		<key>gjZero</key>
		<integer>-30</integer>
	</dict>
	<key>gjFive</key>
	<dict>
		<key>gjFour</key>
		<integer>20</integer>
		<key>gjOne</key>
		<integer>10</integer>
		<key>gjSix</key>
		<integer>10</integer>
		<key>gjThree</key>
		<integer>-10</integer>
		<key>gjZero</key>
		<integer>0</integer>
	</dict>
	<key>gjFour</key>
	<dict>
		<key>gjEight</key>
		<integer>-80</integer>
		<key>gjFive</key>
		<integer>-10</integer>
		<key>gjFour</key>
		<integer>0</integer>
		<key>gjNine</key>
		<integer>-40</integer>
		<key>gjOne</key>
		<integer>0</integer>
		<key>gjSeven</key>
		<integer>-40</integer>
		<key>gjSix</key>
		<integer>-13</integer>
		<key>gjThree</key>
		<integer>-120</integer>
		<key>gjTwo</key>
		<integer>-40</integer>
		<key>gjZero</key>
		<integer>-20</integer>
	</dict>
	<key>gjGH</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>70</integer>
		<key>@MMK_R_gjVA</key>
		<integer>90</integer>
	</dict>
	<key>gjHA</key>
	<dict>
		<key>@MMK_R_gjI</key>
		<integer>-70</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-120</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-90</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-80</integer>
	</dict>
	<key>gjI</key>
	<dict>
		<key>@MMK_R_gjJA</key>
		<integer>-89</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-23</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-29</integer>
	</dict>
	<key>gjII</key>
	<dict>
		<key>@MMK_R_gjVA</key>
		<integer>-30</integer>
	</dict>
	<key>gjJ</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>-65</integer>
	</dict>
	<key>gjJHA</key>
	<dict>
		<key>@MMK_R_gjGA</key>
		<integer>10</integer>
		<key>@MMK_R_gjMA</key>
		<integer>20</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-20</integer>
		<key>gjHA</key>
		<integer>-30</integer>
	</dict>
	<key>gjKA</key>
	<dict>
		<key>@MMK_R_gjI</key>
		<integer>-10</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-17</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-10</integer>
	</dict>
	<key>gjKH</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>51</integer>
		<key>@MMK_R_gjVA</key>
		<integer>94</integer>
	</dict>
	<key>gjK_KA</key>
	<dict>
		<key>@MMK_R_gjJA</key>
		<integer>-30</integer>
	</dict>
	<key>gjK_RA</key>
	<dict>
		<key>@MMK_R_gjJA</key>
		<integer>-30</integer>
	</dict>
	<key>gjL</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>28</integer>
		<key>@MMK_R_gjVA</key>
		<integer>60</integer>
	</dict>
	<key>gjLL</key>
	<dict>
		<key>@MMK_R_gjVA</key>
		<integer>90</integer>
	</dict>
	<key>gjL_D_RA</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>-30</integer>
	</dict>
	<key>gjM</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>80</integer>
		<key>@MMK_R_gjVA</key>
		<integer>110</integer>
	</dict>
	<key>gjMA</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>gjN</key>
	<dict>
		<key>@MMK_R_gjNA</key>
		<integer>74</integer>
		<key>@MMK_R_gjVA</key>
		<integer>30</integer>
	</dict>
	<key>gjNN</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>70</integer>
		<key>@MMK_R_gjVA</key>
		<integer>90</integer>
	</dict>
	<key>gjNY</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>71</integer>
		<key>@MMK_R_gjVA</key>
		<integer>95</integer>
	</dict>
	<key>gjNine</key>
	<dict>
		<key>gjEight</key>
		<integer>-40</integer>
		<key>gjFive</key>
		<integer>-10</integer>
		<key>gjFour</key>
		<integer>-10</integer>
		<key>gjOne</key>
		<integer>10</integer>
		<key>gjSix</key>
		<integer>12</integer>
		<key>gjThree</key>
		<integer>-80</integer>
		<key>gjTwo</key>
		<integer>-10</integer>
		<key>gjZero</key>
		<integer>-10</integer>
	</dict>
	<key>gjOne</key>
	<dict>
		<key>gjEight</key>
		<integer>-10</integer>
		<key>gjFive</key>
		<integer>-40</integer>
		<key>gjFour</key>
		<integer>-30</integer>
		<key>gjNine</key>
		<integer>-20</integer>
		<key>gjOne</key>
		<integer>-20</integer>
		<key>gjSeven</key>
		<integer>-20</integer>
		<key>gjSix</key>
		<integer>-20</integer>
		<key>gjThree</key>
		<integer>-30</integer>
		<key>gjTwo</key>
		<integer>-30</integer>
		<key>gjZero</key>
		<integer>-20</integer>
	</dict>
	<key>gjP</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>35</integer>
		<key>@MMK_R_gjVA</key>
		<integer>87</integer>
	</dict>
	<key>gjPA</key>
	<dict>
		<key>@MMK_R_gjKA</key>
		<integer>-10</integer>
	</dict>
	<key>gjRA</key>
	<dict>
		<key>@MMK_R_gjCA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjDA</key>
		<integer>-10</integer>
		<key>@MMK_R_gjDDHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjGA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjGHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjI</key>
		<integer>-28</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-35</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjNGA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjPA</key>
		<integer>-25</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-20</integer>
		<key>gjmAA</key>
		<integer>-30</integer>
	</dict>
	<key>gjS</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>36</integer>
		<key>@MMK_R_gjVA</key>
		<integer>60</integer>
	</dict>
	<key>gjSA</key>
	<dict>
		<key>@MMK_R_gjJA</key>
		<integer>-35</integer>
	</dict>
	<key>gjSH</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>40</integer>
		<key>@MMK_R_gjVA</key>
		<integer>69</integer>
		<key>gjmAA</key>
		<integer>40</integer>
	</dict>
	<key>gjSHA</key>
	<dict>
		<key>@MMK_R_gjI</key>
		<integer>-20</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-22</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjPA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-30</integer>
	</dict>
	<key>gjSS</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>44</integer>
		<key>@MMK_R_gjVA</key>
		<integer>50</integer>
	</dict>
	<key>gjSeven</key>
	<dict>
		<key>gjFive</key>
		<integer>-50</integer>
		<key>gjFour</key>
		<integer>-70</integer>
		<key>gjOne</key>
		<integer>-30</integer>
		<key>gjSix</key>
		<integer>-5</integer>
		<key>gjTwo</key>
		<integer>0</integer>
		<key>gjZero</key>
		<integer>-10</integer>
	</dict>
	<key>gjSix</key>
	<dict>
		<key>gjEight</key>
		<integer>-14</integer>
		<key>gjFive</key>
		<integer>-15</integer>
		<key>gjFour</key>
		<integer>-5</integer>
		<key>gjNine</key>
		<integer>-10</integer>
		<key>gjOne</key>
		<integer>10</integer>
		<key>gjSix</key>
		<integer>10</integer>
		<key>gjThree</key>
		<integer>-20</integer>
	</dict>
	<key>gjTA</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>gjTH</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>74</integer>
		<key>@MMK_R_gjVA</key>
		<integer>90</integer>
	</dict>
	<key>gjThree</key>
	<dict>
		<key>gjFive</key>
		<integer>-30</integer>
		<key>gjFour</key>
		<integer>-20</integer>
		<key>gjNine</key>
		<integer>-20</integer>
		<key>gjOne</key>
		<integer>-15</integer>
		<key>gjSix</key>
		<integer>-10</integer>
		<key>gjThree</key>
		<integer>-20</integer>
		<key>gjTwo</key>
		<integer>-40</integer>
		<key>gjZero</key>
		<integer>-20</integer>
	</dict>
	<key>gjTwo</key>
	<dict>
		<key>gjEight</key>
		<integer>20</integer>
		<key>gjFive</key>
		<integer>-10</integer>
		<key>gjFour</key>
		<integer>-10</integer>
		<key>gjNine</key>
		<integer>10</integer>
		<key>gjOne</key>
		<integer>-10</integer>
		<key>gjSeven</key>
		<integer>10</integer>
		<key>gjThree</key>
		<integer>10</integer>
		<key>gjTwo</key>
		<integer>-20</integer>
		<key>gjZero</key>
		<integer>0</integer>
	</dict>
	<key>gjU</key>
	<dict>
		<key>@MMK_R_gjGHA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjI</key>
		<integer>-20</integer>
		<key>@MMK_R_gjJA</key>
		<integer>-20</integer>
		<key>@MMK_R_gjKA</key>
		<integer>-55</integer>
		<key>@MMK_R_gjNA</key>
		<integer>-25</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-40</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-53</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-30</integer>
		<key>@MMK_R_gjVA</key>
		<integer>-25</integer>
		<key>@MMK_R_gjYA</key>
		<integer>-26</integer>
	</dict>
	<key>gjV</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>101</integer>
		<key>@MMK_R_gjVA</key>
		<integer>70</integer>
	</dict>
	<key>gjY</key>
	<dict>
		<key>@MMK_R_gjPA</key>
		<integer>60</integer>
		<key>@MMK_R_gjVA</key>
		<integer>86</integer>
	</dict>
	<key>gjZero</key>
	<dict>
		<key>gjEight</key>
		<integer>0</integer>
		<key>gjFive</key>
		<integer>-40</integer>
		<key>gjFour</key>
		<integer>-50</integer>
		<key>gjNine</key>
		<integer>-10</integer>
		<key>gjOne</key>
		<integer>-20</integer>
		<key>gjSeven</key>
		<integer>10</integer>
		<key>gjThree</key>
		<integer>-10</integer>
	</dict>
	<key>gjmII</key>
	<dict>
		<key>gjmI.01</key>
		<integer>60</integer>
	</dict>
	<key>gjvR</key>
	<dict>
		<key>@MMK_R_gjKA</key>
		<integer>-59</integer>
		<key>@MMK_R_gjNNA</key>
		<integer>-25</integer>
		<key>@MMK_R_gjTA</key>
		<integer>-57</integer>
		<key>@MMK_R_gjTHA</key>
		<integer>-10</integer>
	</dict>
	<key>gjvRR</key>
	<dict>
		<key>@MMK_R_gjMA</key>
		<integer>-30</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>f</key>
		<integer>0</integer>
		<key>question</key>
		<integer>-110</integer>
		<key>quotedblright</key>
		<integer>-50</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>integral</key>
	<dict>
		<key>less</key>
		<integer>0</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>20</integer>
		<key>braceright</key>
		<integer>30</integer>
		<key>parenright</key>
		<integer>50</integer>
	</dict>
	<key>lcaron</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_colon</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<integer>-80</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>question</key>
		<integer>-70</integer>
		<key>quotedblright</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-70</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>30</integer>
		<key>@MMK_R_b</key>
		<integer>70</integer>
		<key>@MMK_R_g</key>
		<integer>90</integer>
		<key>@MMK_R_k</key>
		<integer>70</integer>
		<key>f</key>
		<integer>50</integer>
		<key>j</key>
		<integer>130</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>@MMK_R_g</key>
		<integer>20</integer>
		<key>@MMK_R_y</key>
		<integer>60</integer>
		<key>bracketright</key>
		<integer>50</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-110</integer>
		<key>@MMK_R_U</key>
		<integer>-80</integer>
		<key>V</key>
		<integer>-140</integer>
		<key>W</key>
		<integer>-150</integer>
		<key>Y</key>
		<integer>-150</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_gjDA</key>
		<integer>0</integer>
		<key>gjHA</key>
		<integer>0</integer>
	</dict>
	<key>tcaron</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-90</integer>
		<key>@MMK_R_colon</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-90</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_t</key>
		<integer>-50</integer>
		<key>@MMK_R_u</key>
		<integer>-60</integer>
		<key>@MMK_R_z</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-40</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>florin</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>question</key>
		<integer>-80</integer>
		<key>quoteright</key>
		<integer>-50</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>question</key>
		<integer>-70</integer>
		<key>quoteright</key>
		<integer>-40</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>0</integer>
		<key>@MMK_R_r</key>
		<integer>10</integer>
		<key>@MMK_R_s</key>
		<integer>20</integer>
		<key>@MMK_R_t</key>
		<integer>40</integer>
		<key>@MMK_R_y</key>
		<integer>30</integer>
		<key>@MMK_R_z</key>
		<integer>30</integer>
		<key>question</key>
		<integer>-60</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>x</key>
		<integer>20</integer>
	</dict>
</dict>
</plist>
