@import url(http://fonts.googleapis.com/css?family=Fira+Mono:400,700);

@font-face {
  font-family: "ShrikhandGujarati";
  src: url("type/ShrikhandGujarati-Regular.eot");
  src: local("☺"),
    url("type/ShrikhandGujarati-Regular.woff2") format("woff2"),
    url("type/ShrikhandGujarati-Regular.woff") format("woff"),
    url("type/ShrikhandGujarati-Regular.otf") format("opentype");
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

.container {
  font-family: "Fira Mono";
  font-size: 14px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.container h1 {
  font-family: ShrikhandGujarati;
  color: red;
  font-size: 45;
  margin-top: 15px;
  margin-bottom: 0px;
}
