<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>FF8CB9F1-2B98-444C-A502-96421F2531A8</key>
		<dict>
	</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>70</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>FF8CB9F1-2B98-444C-A502-96421F2531A8</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>gjA</string>
		<string>gjAA</string>
		<string>gjI</string>
		<string>gjII</string>
		<string>gjU</string>
		<string>gjUU</string>
		<string>gjvR</string>
		<string>gjvRR</string>
		<string>gjvL</string>
		<string>gjvLL</string>
		<string>gjE</string>
		<string>gjAI</string>
		<string>gjO</string>
		<string>gjAU</string>
		<string>gjmAA</string>
		<string>gjmI</string>
		<string>gjmII</string>
		<string>gjmU</string>
		<string>gjmUU</string>
		<string>gjmvR</string>
		<string>gjmvRR</string>
		<string>gjmvL</string>
		<string>gjmvLL</string>
		<string>gjmE</string>
		<string>gjmAI</string>
		<string>gjmO</string>
		<string>gjmAU</string>
		<string>gjKA</string>
		<string>gjKHA</string>
		<string>gjGA</string>
		<string>gjGHA</string>
		<string>gjNGA</string>
		<string>gjCA</string>
		<string>gjCHA</string>
		<string>gjCHA.alt</string>
		<string>gjJA</string>
		<string>gjJHA</string>
		<string>gjNYA</string>
		<string>gjTTA</string>
		<string>gjTTHA</string>
		<string>gjDDA</string>
		<string>gjDDHA</string>
		<string>gjNNA</string>
		<string>gjTA</string>
		<string>gjTHA</string>
		<string>gjDA</string>
		<string>gjDHA</string>
		<string>gjNA</string>
		<string>gjPA</string>
		<string>gjPHA</string>
		<string>gjBA</string>
		<string>gjBHA</string>
		<string>gjMA</string>
		<string>gjYA</string>
		<string>gjRA</string>
		<string>gjLA</string>
		<string>gjLLA</string>
		<string>gjVA</string>
		<string>gjSHA</string>
		<string>gjSSA</string>
		<string>gjSA</string>
		<string>gjHA</string>
		<string>gjK_SSA</string>
		<string>gjJ_NYA</string>
		<string>gjAnusvara</string>
		<string>gjCandrabindu</string>
		<string>gjVisarga</string>
		<string>gjAvagraha</string>
		<string>gjVirama</string>
		<string>gjNukta</string>
		<string>gjZero</string>
		<string>gjOne</string>
		<string>gjTwo</string>
		<string>gjThree</string>
		<string>gjFour</string>
		<string>gjFive</string>
		<string>gjSix</string>
		<string>gjSeven</string>
		<string>gjEight</string>
		<string>gjNine</string>
		<string>gjJ</string>
		<string>gjN</string>
		<string>gjSH_RA</string>
		<string>gjJA_mAA</string>
		<string>gjJA_mII</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>H.alt</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>a.alt</string>
		<string>k.alt</string>
		<string>gjOM</string>
		<string>comma</string>
		<string>period</string>
		<string>gjmII.alt</string>
		<string>gjJ_JA</string>
		<string>gjN_DDA</string>
	</array>
</dict>
</plist>
